.saved-info__subtitle {
    margin-bottom: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(26, 27, 34, 0.5);    
}

@media screen and (min-width: 550px) and (max-width: 780px) {
    .saved-info__subtitle {
        margin-bottom: 16px;
        font-size: 14px;        
    }
}

@media screen and (max-width: 550px) {
    .saved-info__subtitle {
        margin-bottom: 16px;
        font-size: 12px;        
    }
}