@import url(./__input/search__input.css);
@import url(./__button/search__button.css);
.search__form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;
    background-color: white;
}
@media screen and (max-width: 530px) {
    .search__form{
        flex-direction: column;
        background: transparent;
    }
}